@use "./initial";

.day-block__box {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    transition: all 0.3s;
    max-height: 84vh;
    overflow: hidden;
}

.day-block {
    background-color: #181818;
    padding: 20px;
    padding-bottom: 30px;

    &__date {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        column-gap: 20px;
        span:nth-child(1) {
            font-size: 28px;
            text-shadow: 0 0 2px var(--accent);
        }
        span:nth-child(2) {
            font-size: 16px;
        }
    }

    &__row {
        margin-bottom: 20px;
    }

    &__temp {
        font-size: 14px;
    }

    &__events,
    &__occurrences {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    &__events-title,
    &__occurrences-title {
        display: flex;
        align-items: center;
        column-gap: 10px;
        span {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: var(--accent);
            color: var(--bg);
            height: 20px;
            width: 20px;
            font-size: 14px;
            border-radius: 50%;
        }
    }

    &__event {
        background-color: var(--bg);
        padding: 10px;
    }

    &__event-title {
    }

    &__event-row,
    &__occurrence-row {
        display: flex;
        align-items: center;
        column-gap: 50px;
    }

    &__msg {
        font-style: italic;
        font-size: 14px;
    }

    &__event-date {
    }
    &__event-time {
    }
    &__event-description {
    }
    &__occurrences {
    }
    &__occurrences-title {
    }

    &__occurrence {
        background-color: var(--bg);
        padding: 10px;
    }

    &__occurrence-title,
    &__event-title {
        // margin-bottom: 5px;
    }
    &__occurrence-date {
    }
    &__occurrence-time {
    }
    &__occurrence-description,
    &__event-description {
        span {
            font-size: 14px;
            // max-height: 90px;
            max-height: 55px;
            line-height: 1.25;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            // -webkit-line-clamp: 5;
            -webkit-line-clamp: 3;
            span {
                opacity: 0.5;
                font-size: 16px;
                display: inline;
                margin-left: 0;
                margin-right: 7px;
            }
        }
    }
    &__occurrence-category,
    &__event-time {
        margin-top: 5px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        column-gap: 7px;
        span:nth-child(1) {
            opacity: 0.5;
        }
    }

    &__info {
        margin-bottom: 10px;
        font-size: 14px;
        opacity: 0.5;
    }

    &__percent {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 14px;
        opacity: 0.5;
    }
}
