@use "./initial";

.ev-occ {
    position: relative;
    height: 100%;

    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 20px;
        row-gap: 10px;
        background-color: var(--bg);
        position: sticky;
        z-index: 10;
        padding-bottom: 20px;
        top: 0;
        left: 0;
        right: 0;
        @media (max-width: #{initial.$md1}px) {
            flex-wrap: wrap;
        }
        @media (max-width: #{initial.$md3}px) {
            flex-direction: column;
            align-items: start;
        }
    }

    &__title {
        font-size: 24px;
        text-shadow: 0 0 2px var(--accent);
        position: relative;
        display: inline-block;
        span {
            font-size: 14px;
            position: absolute;
            top: 0px;
            right: -25px;
            background-color: var(--accent);
            color: var(--bg);
            height: 20px;
            width: 20px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @media (max-width: #{initial.$md1}px) {
            // font-size: 20px;
        }
        @media (max-width: #{initial.$md4}px) {
            font-size: 20px;
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        padding-right: 7px;
        height: 100%;
    }

    &__item {
        padding: 10px 15px;
        background-color: #151515;
        position: relative;

        &:hover {
            background-color: #222;
            .ev-occ__item-btns {
                opacity: 0.5;
                visibility: visible;
            }
        }

        &-title {
            font-size: 19px;
            max-height: 44px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2; /* Limit to 2 lines */
            @media (max-width: #{initial.$md4}px) {
                font-size: 14px;
            }
        }

        &-minor-title {
            opacity: 0.5;
            font-size: 16px;
            @media (max-width: #{initial.$md4}px) {
                font-size: 14px;
            }
        }

        &-date,
        &-time {
            font-size: 14px;
        }

        &-description {
            line-height: 1.25;
            font-size: 14px;
            max-height: 90px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5; /* Limit to 5 lines */
        }

        &-btns {
            position: absolute;
            top: 1px;
            right: 1px;
            display: flex;
            column-gap: 7px;
            opacity: 0;
            visibility: hidden;
            transition: all 0.2s;
        }

        &-btn {
            padding: 0;
            border: none;
            transition: none;

            svg {
                width: 15px;
                path {
                    fill: var(--accent);
                }
            }
            &:hover {
                opacity: 0.5;
                box-shadow: none;
                background-color: transparent;
                color: var(--accent);
            }
            &:active {
                opacity: 0.3;
            }
        }

        @media (max-width: #{initial.$md4}px) {
            font-size: 14px;
            display: flex;
            flex-direction: column;
            row-gap: 5px;
            padding: 10px;
        }
    }

    &__item-row {
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        column-gap: 20px;

        div {
            flex: 1 1 50%;
        }

        @media (max-width: #{initial.$md4}px) {
            flex-direction: column;
            align-items: start;
            row-gap: 5px;
            margin-bottom: 0;
        }
    }

    &__switch {
        display: flex;
        align-items: center;
        margin-right: 5px;

        &-btn {
            background-color: var(--bg);
            font-size: 14px;
            padding: 5px 7px;
            cursor: pointer;
            transition: box-shadow 0.3s;
            &--ev {
            }
            &--occ {
                border-left: none;
            }
        }
    }

    &__msg {
        font-style: italic;
    }

    &__hint {
        font-style: italic;
        opacity: 0.3;

        &:hover {
            opacity: 1;
        }
    }
}
