@use "./initial";

// NOTE: because I import with 'use' and not 'import' (which is deprecated), I must use this syntax now: @media (max-width: #{initial.$md3}px) { ... }

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    margin-bottom: 100px;
}

// ================================================================================================

.hidden {
    display: none !important;
}

.active {
    background-color: var(--accent);
    color: var(--bg);
}

.invisible {
    opacity: 0;
    visibility: hidden;
}

.moved-down {
    transform: translateY(30px);
}

.message {
    border: 2px solid var(--white);
    min-width: 200px;
    width: 100%;
    background-color: var(--bg);
    color: var(--white);
    text-shadow: 0 0 1px var(--white);
    box-shadow: 0 0 5px var(--white);
    padding: 10px 20px;
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    left: 0;
    transition: all 0.3s;
}
.success {
    border-color: green;
    color: green;
    text-shadow: 0 0 1px green;
    box-shadow: 0 0 5px green;
}
.error {
    border-color: red;
    color: red;
    text-shadow: 0 0 1px red;
    box-shadow: 0 0 5px red;
}

// ================================================================================================

.app {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;

    &__column {
        &:nth-child(1) {
            max-width: calc(var(--dayBoxSize) * 7 + 2px);
            flex-basis: calc(var(--dayBoxSize) * 7 + 2px);
            flex-shrink: 0;
            flex-grow: 1;
        }
        &:nth-child(2) {
            flex-shrink: 1;
            flex-grow: 0;
            flex-basis: 500px;
            max-width: 500px;
        }
    }
    &__calendar {
    }
    &__field {
        height: 600px;
        overflow-y: auto;
        // border: 1px solid #111;
    }
}
