@use "./initial";

.hidden {
    display: none !important;
}

.active {
    background-color: var(--accent);
    color: var(--bg);
}

.invisible {
    opacity: 0;
    visibility: hidden;
}

.moved-down {
    transform: translateY(30px);
}

.dimmer {
    opacity: 0.3 !important;
}

.no-hover {
    pointer-events: none;
}

.highlighted {
    background-color: var(--accent);
    box-shadow: 0 0 20px var(--accent);
    color: var(--bg);

    span.calendar__day--eventful {
        color: var(--accent);
        &:after {
            border-top: 25px solid var(--bg);
        }
    }
    span.calendar__day--occurence {
        color: var(--white);
        background-color: var(--bg);
        box-shadow: 0 0 10px var(--bg);
    }
}

.overflow-hidden {
    overflow: hidden;
}

// ================================================================================================

.message {
    border: 2px solid var(--white);
    min-width: 300px;
    max-width: 1000px;
    background-color: var(--bg);
    color: var(--white);
    text-shadow: 0 0 1px var(--white);
    box-shadow: 0 0 10px var(--white);
    padding: 10px 20px;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s;
}

.success {
    border-color: green;
    color: green;
    text-shadow: 0 0 1px green;
    box-shadow: 0 0 10px green;
}

.error {
    border-color: red;
    color: red;
    text-shadow: 0 0 1px red;
    box-shadow: 0 0 10px red;
}

// ================================================================================================

.fadedOut {
    position: relative;
    &:after {
        content: "";
        position: absolute;
        top: 80%;
        left: 0;
        background-color: rgba(#000, 0.85);
        filter: blur(15px);
        width: 200%;
        transform: translateX(-23%);
        height: 40%;
        border-radius: 50%;
        box-shadow: 0 0 80px #000;
    }
}
